@tailwind base;
@tailwind components;
@tailwind utilities;

.element {
  background-color: rgba(128, 128, 128, 0.7);
}
.element2 {
  background-color: rgba(207, 219, 219, 0.733);
}

.inset-center {
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inset-center-sec {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}
